Repository ramana16/xpiks: changes, and which Codecov flags are due for each by the changed paths.
All: app, tests

.codecov.yml:

codecov:
  branch: master

coverage:
  status:
    project:
      default: false
      tests:
        base: auto 
        target: 95%
        paths: "src/xpiks-tests"
      app:
        base: auto 
        paths: "src/xpiks"
        target: 60%
        threshold: 5%
  range: 50..75
  round: down
  precision: 2

flags:
  # filter the folder(s) you wish to measure by that flag
  app:
    paths:
      - src/xpiks-qt/
  tests:
    paths:
      - src/xpiks-tests/

ignore:
  - "vendors"

Travis cppcheck tweak
  .codecov.yml
  .travis.yml
Due: none

cppcheck tweak
  .travis.yml
Due: none

Yet another attempt to ignore vendors in codecov
  codecov.yml
Due: none

Yet another codecov attempt
  .travis.yml
  codecov.yml
Due: none

Cppcheck fix
  .travis.yml
Due: none

Enable plugins to bump code coverage
  src/xpiks-tests/xpiks-tests-integration/xpiks-tests-integration.pro
Due: tests

Fix for typo in travis
  .travis.yml
Due: none

Hotfix for ftp stocks list to bump coverage
  src/xpiks-qt/AutoComplete/stocksftplistmodel.cpp
  src/xpiks-qt/AutoComplete/stocksftplistmodel.h
  src/xpiks-qt/Models/artworkuploader.cpp
Due: app

Yet another travis cppcheck ignore attempt
  .travis.yml
Due: none

Build fixes
  src/xpiks-qt/AutoComplete/stocksftplistmodel.cpp
  src/xpiks-qt/AutoComplete/stocksftplistmodel.h
Due: app

Disable codecov for broken builds
  codecov.yml
Due: none

More cppcheck checks
  .travis.yml
Due: none

Cppcheck cosmetic fixes
  .travis.yml
  src/xpiks-qt/Common/basickeywordsmodel.cpp
  src/xpiks-qt/Common/basicmetadatamodel.cpp
  src/xpiks-qt/Common/statefulentity.h
  src/xpiks-qt/Helpers/localconfig.h
  src/xpiks-qt/Models/recentitemsmodel.cpp
  src/xpiks-qt/Models/recentitemsmodel.h
  src/xpiks-qt/Models/settingsmodel.h
  src/xpiks-qt/Models/uimanager.cpp
  src/xpiks-qt/Models/uimanager.h
  src/xpiks-qt/Models/videoartwork.cpp
  src/xpiks-qt/Plugins/uiprovider.cpp
Due: app

More cppcheck cosmetic fixes
  src/xpiks-qt/Helpers/database.cpp
Due: app

CppCheck warning suppressor
  .travis.yml
  src/xpiks-qt/Common/keyword.h
Due: app

Disable portability issues in cppcheck
  .travis.yml
Due: none

Squashed commit of the following:
  codecov.yml
  src/xpiks-qt/Commands/commandmanager.cpp
  src/xpiks-qt/Encryption/aes-qt.cpp
  src/xpiks-qt/Encryption/secretsmanager.cpp
  src/xpiks-qt/Encryption/secretsmanager.h
  src/xpiks-qt/Models/artworksprocessor.cpp
  src/xpiks-qt/Models/artworkuploader.cpp
  src/xpiks-qt/Models/findandreplacemodel.cpp
  src/xpiks-qt/QuickBuffer/quickbuffer.cpp
  src/xpiks-qt/QuickBuffer/quickbuffer.h
  src/xpiks-tests/xpiks-tests-core/encryption_tests.cpp
  src/xpiks-tests/xpiks-tests-core/encryption_tests.h
  src/xpiks-tests/xpiks-tests-core/preset_tests.cpp
  src/xpiks-tests/xpiks-tests-core/preset_tests.h
  src/xpiks-tests/xpiks-tests-core/quickbuffer_tests.cpp
  src/xpiks-tests/xpiks-tests-core/quickbuffer_tests.h
  src/xpiks-tests/xpiks-tests-integration/main.cpp
  src/xpiks-tests/xpiks-tests-integration/masterpasswordtest.cpp
  src/xpiks-tests/xpiks-tests-integration/masterpasswordtest.h
  src/xpiks-tests/xpiks-tests-integration/xpiks-tests-integration.pro
Due: app, tests

FailedUploadTest for travis too
  src/libxpks_stub/Connectivity/conectivityhelpers.cpp
  src/libxpks_stub/Connectivity/conectivityhelpers.h
  src/libxpks_stub/Connectivity/curlftpuploader.cpp
  src/libxpks_stub/Connectivity/curlftpuploader.h
  src/libxpks_stub/Connectivity/ftpcoordinator.cpp
  src/libxpks_stub/Connectivity/ftpcoordinator_stub.cpp
  src/libxpks_stub/Connectivity/ftpuploaderworker.cpp
  src/libxpks_stub/Connectivity/ftpuploaderworker.h
  src/libxpks_stub/Connectivity/uploadbatch.h
  src/libxpks_stub/Connectivity/uploadcontext.h
  src/libxpks_stub/libxpks_stub.pro
  src/xpiks-tests/xpiks-tests-integration/main.cpp
Due: tests

Sync upload context with vendors
  src/libxpks_stub/Connectivity/uploadcontext.h
Due: none

Qt env var warning fix. closes #437
  src/xpiks-qt/main.cpp
Due: app

Removed useless code climate [ci skip]
  README.md
Due: none

introduce saving selection state for undo
  src/xpiks-qt/Commands/removeartworkscommand.cpp
  src/xpiks-qt/Models/artworksrepository.cpp
  src/xpiks-qt/Models/artworksrepository.h
  src/xpiks-qt/UndoRedo/removeartworksitem.cpp
  src/xpiks-qt/UndoRedo/removeartworksitem.h
  src/xpiks-qt/UndoRedo/removedirectoryitem.cpp
  src/xpiks-qt/UndoRedo/removedirectoryitem.h
Due: app

Directory selection tests and fixes. closes #466 (#486)
  src/xpiks-qt/Commands/removeartworkscommand.cpp
  src/xpiks-qt/Models/artworksrepository.cpp
  src/xpiks-qt/Models/artworksrepository.h
  src/xpiks-qt/UndoRedo/removeartworksitem.cpp
  src/xpiks-qt/UndoRedo/removeartworksitem.h
  src/xpiks-qt/UndoRedo/removedirectoryitem.cpp
  src/xpiks-qt/UndoRedo/removedirectoryitem.h
  src/xpiks-tests/xpiks-tests-core/Mocks/commandmanagermock.h
  src/xpiks-tests/xpiks-tests-core/artworkrepository_tests.cpp
  src/xpiks-tests/xpiks-tests-core/artworkrepository_tests.h
Due: app, tests

Refactoring directory selection PR. related #466
  src/xpiks-qt/Commands/addartworkscommand.cpp
  src/xpiks-qt/Commands/removeartworkscommand.cpp
  src/xpiks-qt/Models/artworksrepository.cpp
  src/xpiks-qt/Models/artworksrepository.h
  src/xpiks-qt/UndoRedo/removeartworksitem.cpp
Due: app

Fixes for merge artifacts
  src/xpiks-qt/Commands/addartworkscommand.cpp
Due: app

Yet another fix for master merge
  src/xpiks-qt/Models/artitemsmodel.cpp
  src/xpiks-qt/SpellCheck/spellcheckiteminfo.cpp
  src/xpiks-tests/xpiks-tests-integration/userdictedittest.cpp
Due: app, tests

Fix for reimport regression. fixes #489
  src/xpiks-qt/Commands/commandmanager.cpp
  src/xpiks-qt/Commands/commandmanager.h
  src/xpiks-qt/Common/defines.h
  src/xpiks-qt/Common/itemprocessingworker.h
  src/xpiks-qt/Models/artworkmetadata.cpp
  src/xpiks-qt/Models/artworkmetadata.h
  src/xpiks-qt/Models/filteredartitemsproxymodel.cpp
  src/xpiks-tests/xpiks-tests-integration/main.cpp
  src/xpiks-tests/xpiks-tests-integration/reimporttest.cpp
  src/xpiks-tests/xpiks-tests-integration/reimporttest.h
  src/xpiks-tests/xpiks-tests-integration/xpiks-tests-integration.pro
Due: app, tests

More friendly UX for reimport
  src/xpiks-qt/Dialogs/ImportMetadata.qml
  src/xpiks-qt/Models/artitemsmodel.cpp
  src/xpiks-qt/Models/artitemsmodel.h
  src/xpiks-qt/Models/artworkmetadata.cpp
  src/xpiks-qt/Models/filteredartitemsproxymodel.cpp
  src/xpiks-qt/main.qml
Due: app

Reimport refinement. related #489
  src/xpiks-qt/Models/artitemsmodel.cpp
  src/xpiks-qt/Models/artitemsmodel.h
  src/xpiks-qt/Models/artworkmetadata.cpp
  src/xpiks-qt/Models/artworkmetadata.h
  src/xpiks-qt/Models/filteredartitemsproxymodel.cpp
  src/xpiks-qt/main.qml
Due: app

Zipping progress issues fixes #430
  src/xpiks-qt/Commands/commandmanager.cpp
  src/xpiks-qt/Dialogs/UploadArtworks.qml
  src/xpiks-qt/Dialogs/ZipArtworksDialog.qml
  src/xpiks-qt/Helpers/ifilenotavailablemodel.h
  src/xpiks-qt/Models/artworksprocessor.cpp
  src/xpiks-qt/Models/artworksprocessor.h
  src/xpiks-qt/Models/artworkuploader.cpp
  src/xpiks-qt/Models/artworkuploader.h
  src/xpiks-qt/Models/filteredartitemsproxymodel.cpp
  src/xpiks-qt/Models/ziparchiver.cpp
  src/xpiks-qt/Models/ziparchiver.h
  src/xpiks-qt/main.qml
  src/xpiks-qt/xpiks-qt.pro
  src/xpiks-tests/xpiks-tests-core/filteredmodel_tests.cpp
  src/xpiks-tests/xpiks-tests-core/xpiks-tests-core.pro
  src/xpiks-tests/xpiks-tests-integration/xpiks-tests-integration.pro
  src/xpiks-tests/xpiks-tests-integration/zipartworkstest.cpp
  src/xpiks-tests/xpiks-tests-ui/tst_ZipArchiver.qml
  src/xpiks-tests/xpiks-tests-ui/xpiks-tests-ui.pro
Due: app, tests

Zip test improvement. related #430
  src/xpiks-tests/xpiks-tests-integration/zipartworkstest.cpp
Due: tests

Autoimport functionality. closes #458 Squashed commit of the following:
  src/xpiks-qt/Commands/addartworkscommand.cpp
  src/xpiks-qt/Commands/addartworkscommand.h
  src/xpiks-qt/Commands/commandmanager.cpp
  src/xpiks-qt/Commands/commandmanager.h
  src/xpiks-qt/Connectivity/switcherconfig.cpp
  src/xpiks-qt/Connectivity/switcherconfig.h
  src/xpiks-qt/Dialogs/ImportMetadata.qml
  src/xpiks-qt/Dialogs/SettingsWindow.qml
  src/xpiks-qt/Helpers/constants.h
  src/xpiks-qt/MetadataIO/metadataiocoordinator.cpp
  src/xpiks-qt/MetadataIO/metadataiocoordinator.h
  src/xpiks-qt/MetadataIO/metadatareadinghub.cpp
  src/xpiks-qt/MetadataIO/metadatareadinghub.h
  src/xpiks-qt/Models/abstractconfigupdatermodel.cpp
  src/xpiks-qt/Models/abstractconfigupdatermodel.h
  src/xpiks-qt/Models/artitemsmodel.cpp
  src/xpiks-qt/Models/artitemsmodel.h
  src/xpiks-qt/Models/filteredartitemsproxymodel.cpp
  src/xpiks-qt/Models/settingsmodel.cpp
  src/xpiks-qt/Models/settingsmodel.h
  src/xpiks-qt/Models/switchermodel.h
  src/xpiks-qt/UndoRedo/removeartworksitem.cpp
  src/xpiks-qt/main.qml
  src/xpiks-tests/configs-for-tests/tests_switches.json
  src/xpiks-tests/images-for-tests/read-only/026.jpg
  src/xpiks-tests/xpiks-tests-integration/autoimporttest.cpp
  src/xpiks-tests/xpiks-tests-integration/autoimporttest.h
  src/xpiks-tests/xpiks-tests-integration/integrationtestbase.h
  src/xpiks-tests/xpiks-tests-integration/main.cpp
  src/xpiks-tests/xpiks-tests-integration/testshelpers.cpp
  src/xpiks-tests/xpiks-tests-integration/testshelpers.h
  src/xpiks-tests/xpiks-tests-integration/xpiks-tests-integration.pro
Due: app, tests

Refactor BasicKeywordsModel to PIMPL. closes #435
  src/xpiks-qt/Commands/removeartworkscommand.cpp
  src/xpiks-qt/Common/abstractlistmodel.h
  src/xpiks-qt/Common/basickeywordsmodel.cpp
  src/xpiks-qt/Common/basickeywordsmodel.h
  src/xpiks-qt/Common/basickeywordsmodelimpl.cpp
  src/xpiks-qt/Common/basickeywordsmodelimpl.h
  src/xpiks-qt/Common/basicmetadatamodel.h
  src/xpiks-qt/KeywordsPresets/presetkeywordsmodel.h
  src/xpiks-qt/Models/artitemsmodel.cpp
  src/xpiks-qt/Models/artitemsmodel.h
  src/xpiks-qt/Models/artworksrepository.cpp
  src/xpiks-qt/Models/artworksviewmodel.cpp
  src/xpiks-qt/QuickBuffer/quickbuffer.h
  src/xpiks-qt/SpellCheck/userdicteditmodel.h
  src/xpiks-qt/xpiks-qt.pro
  src/xpiks-tests/xpiks-tests-core/undoredo_tests.cpp
  src/xpiks-tests/xpiks-tests-core/xpiks-tests-core.pro
  src/xpiks-tests/xpiks-tests-integration/undoadddirectorytest.cpp
  src/xpiks-tests/xpiks-tests-integration/xpiks-tests-integration.pro
Due: app, tests

Metadata wiping functionality. closes #310
  src/libxpks_stub/MetadataIO/writingorchestrator.cpp
  src/libxpks_stub/MetadataIO/writingorchestrator.h
  src/xpiks-qt/Commands/commandmanager.cpp
  src/xpiks-qt/Commands/commandmanager.h
  src/xpiks-qt/Common/basickeywordsmodel.cpp
  src/xpiks-qt/Common/basickeywordsmodelimpl.h
  src/xpiks-qt/Dialogs/ImportMetadata.qml
  src/xpiks-qt/Dialogs/WipeMetadata.qml
  src/xpiks-qt/MetadataIO/metadataiocoordinator.cpp
  src/xpiks-qt/MetadataIO/metadataiocoordinator.h
  src/xpiks-qt/Models/filteredartitemsproxymodel.cpp
  src/xpiks-qt/Models/filteredartitemsproxymodel.h
  src/xpiks-qt/main.qml
  src/xpiks-qt/qml.qrc
  src/xpiks-qt/xpiks-qt.pro
  vendors/libxpks/writingorchestrator.h
Due: app

Fix for integration tests
  src/xpiks-qt/Common/basickeywordsmodel.cpp
Due: app

Old xpks backups cleanup. closes #468
  src/xpiks-qt/Commands/commandmanager.cpp
  src/xpiks-qt/Commands/commandmanager.h
  src/xpiks-qt/Maintenance/maintenanceservice.cpp
  src/xpiks-qt/Maintenance/maintenanceservice.h
  src/xpiks-qt/Maintenance/xpkscleanupjob.cpp
  src/xpiks-qt/Maintenance/xpkscleanupjob.h
  src/xpiks-qt/Models/artworksrepository.cpp
  src/xpiks-qt/xpiks-qt.pro
Due: app

Fix for integration tests
  src/xpiks-tests/xpiks-tests-integration/xpiks-tests-integration.pro
Due: tests

Presetname uniqueness check. closes #472
  src/xpiks-qt/Commands/maindelegator.cpp
  src/xpiks-qt/Dialogs/PresetsEditDialog.qml
  src/xpiks-qt/KeywordsPresets/groupmodel.h
  src/xpiks-qt/KeywordsPresets/ipresetsmanager.h
  src/xpiks-qt/KeywordsPresets/presetgroupsmodel.h
  src/xpiks-qt/KeywordsPresets/presetkeywordsmodel.cpp
  src/xpiks-qt/KeywordsPresets/presetkeywordsmodel.h
  src/xpiks-qt/KeywordsPresets/presetkeywordsmodelconfig.h
  src/xpiks-qt/KeywordsPresets/presetmodel.h
  src/xpiks-qt/xpiks-qt.pro
  src/xpiks-tests/xpiks-tests-core/xpiks-tests-core.pro
  src/xpiks-tests/xpiks-tests-integration/exiv2iohelpers.cpp
  src/xpiks-tests/xpiks-tests-integration/xpiks-tests-integration.pro
Due: app, tests
