Repository ramana16/xpiks: changes, and which Codecov flags are due for each by the changed paths.
All: app, tests

Feedback for adding already added keyword. closes #120
  src/xpiks-qt/AutoComplete/autocompleteworker.cpp
  src/xpiks-qt/CollapserTabs/QuickBufferTab.qml
  src/xpiks-qt/Dialogs/PresetsEditDialog.qml
  src/xpiks-qt/KeywordsPresets/presetkeywordsmodel.cpp
  src/xpiks-qt/KeywordsPresets/presetkeywordsmodel.h
  src/xpiks-qt/Models/artitemsmodel.cpp
  src/xpiks-qt/Models/artitemsmodel.h
  src/xpiks-qt/Models/artworkproxymodel.cpp
  src/xpiks-qt/Models/artworkproxymodel.h
  src/xpiks-qt/Models/combinedartworksmodel.cpp
  src/xpiks-qt/Models/combinedartworksmodel.h
  src/xpiks-qt/QuickBuffer/quickbuffer.cpp
  src/xpiks-qt/QuickBuffer/quickbuffer.h
  src/xpiks-qt/StackViews/ArtworkEditView.qml
  src/xpiks-qt/StackViews/CombinedEditView.qml
  src/xpiks-qt/StackViews/MainGrid.qml
Due: app

Cosmetic ui improvements
  src/xpiks-qt/StackViews/MainGrid.qml
  src/xpiks-qt/main.qml
Due: app

Upload percentages hack. related #452
  src/xpiks-qt/Dialogs/UploadArtworks.qml
  src/xpiks-qt/Models/artworkuploader.cpp
  src/xpiks-qt/Models/uploadinforepository.cpp
Due: app

Fixes for ui tests
  src/xpiks-tests/xpiks-tests-ui/tst_PresetsEditDialog.qml
Due: tests

Keyboard shortcuts to go back/prev in single editing. closes #418
  src/xpiks-qt/StackViews/ArtworkEditView.qml
Due: app

Fix for terms and conditions bug. fixes #428
  src/xpiks-qt/main.qml
Due: app

Update spelling after settings change. closes #334
  src/xpiks-qt/Commands/maindelegator.cpp
  src/xpiks-qt/Commands/maindelegator.h
  src/xpiks-qt/Common/basickeywordsmodel.cpp
  src/xpiks-qt/Common/basickeywordsmodel.h
  src/xpiks-qt/Common/basickeywordsmodelimpl.cpp
  src/xpiks-qt/Common/basickeywordsmodelimpl.h
  src/xpiks-qt/Models/artitemsmodel.cpp
  src/xpiks-qt/Models/artitemsmodel.h
  src/xpiks-qt/Models/artworkmetadata.cpp
  src/xpiks-qt/Models/artworkmetadata.h
  src/xpiks-qt/Models/settingsmodel.cpp
  src/xpiks-qt/Models/settingsmodel.h
  src/xpiks-qt/SpellCheck/spellcheckerservice.h
Due: app

More hacks related to percentage display. related #452
  src/xpiks-qt/Models/artworkuploader.cpp
  src/xpiks-qt/Models/artworkuploader.h
  src/xpiks-qt/Models/uploadinfo.h
  src/xpiks-qt/Models/uploadinforepository.cpp
Due: app

UploadInfos refactoring. related #455
  src/xpiks-qt/Commands/commandmanager.cpp
  src/xpiks-qt/Dialogs/UploadArtworks.qml
  src/xpiks-qt/Helpers/constants.h
  src/xpiks-qt/Helpers/localconfig.cpp
  src/xpiks-qt/Helpers/localconfig.h
  src/xpiks-qt/Models/settingsmodel.cpp
  src/xpiks-qt/Models/settingsmodel.h
  src/xpiks-qt/Models/uploadinfo.h
  src/xpiks-qt/Models/uploadinforepository.cpp
  src/xpiks-qt/Models/uploadinforepository.h
  src/xpiks-qt/main.cpp
Due: app

Fix for stateful entity
  src/xpiks-qt/Common/statefulentity.cpp
Due: app

VectorsFirst upload switch. related #455
  src/xpiks-qt/Dialogs/UploadArtworks.qml
  src/xpiks-qt/Encryption/secretsmanager.cpp
  src/xpiks-qt/Models/artworkuploader.cpp
  src/xpiks-qt/Models/artworkuploader.h
  src/xpiks-qt/Models/settingsmodel.cpp
  src/xpiks-qt/Models/settingsmodel.h
  src/xpiks-qt/Models/uploadinfo.h
  src/xpiks-qt/Models/uploadinforepository.cpp
  src/xpiks-qt/Models/uploadinforepository.h
Due: app

Fixes for integration tests. related #455
  src/xpiks-tests/xpiks-tests-integration/main.cpp
Due: tests

Updated vendors
  vendors/libxpks/uploadcontext.h
Due: none

Fix for ui tests
  src/xpiks-tests/xpiks-tests-ui/tst_UploadDialog.qml
Due: tests

Read-only files basic handling. closes #429
  src/xpiks-qt/Commands/addartworkscommand.cpp
  src/xpiks-qt/Models/artitemsmodel.cpp
  src/xpiks-qt/Models/artitemsmodel.h
  src/xpiks-qt/Models/artworkmetadata.cpp
  src/xpiks-qt/Models/artworkmetadata.h
  src/xpiks-qt/Models/filteredartitemsproxymodel.cpp
  src/xpiks-qt/Models/keyvaluelist.cpp
  src/xpiks-qt/Models/keyvaluelist.h
  src/xpiks-qt/UndoRedo/removeartworksitem.cpp
  src/xpiks-qt/main.qml
  src/xpiks-tests/xpiks-tests-core/Mocks/artitemsmodelmock.h
  src/xpiks-tests/xpiks-tests-core/Mocks/commandmanagermock.h
  src/xpiks-tests/xpiks-tests-integration/clearmetadatatest.cpp
  src/xpiks-tests/xpiks-tests-integration/savefilebasictest.cpp
  src/xpiks-tests/xpiks-tests-integration/savefilelegacytest.cpp
  src/xpiks-tests/xpiks-tests-integration/savevideobasictest.cpp
  src/xpiks-tests/xpiks-tests-integration/savewithemptytitletest.cpp
  src/xpiks-tests/xpiks-tests-integration/unicodeiotest.cpp
Due: app, tests

More info menu for artwork
  src/xpiks-qt/StackViews/ArtworkEditView.qml
  src/xpiks-qt/main.qml
Due: app

Ability to control getty suggestion. closes #463
  src/xpiks-qt/Commands/commandmanager.cpp
  src/xpiks-qt/Connectivity/switcherconfig.cpp
  src/xpiks-qt/Connectivity/switcherconfig.h
  src/xpiks-qt/Models/switchermodel.h
  src/xpiks-qt/Suggestion/keywordssuggestor.cpp
  src/xpiks-qt/main.cpp
Due: app

Fixes for integration tests. related #463
  src/xpiks-qt/Suggestion/keywordssuggestor.cpp
  src/xpiks-tests/configs-for-tests/tests_switches.json
  src/xpiks-tests/xpiks-tests-integration/main.cpp
Due: app, tests

Changed license for 1.5 release. closes #490 [ci skip]
  src/xpiks-qt/deps/terms_and_conditions.txt
Due: app

Move passwd saving to base64. related #455
  src/xpiks-qt/Models/uploadinforepository.cpp
Due: app

Fix for statefulentity initialization race
  src/xpiks-qt/Common/statefulentity.cpp
  src/xpiks-qt/Common/statefulentity.h
  src/xpiks-qt/main.cpp
  src/xpiks-tests/xpiks-tests-integration/main.cpp
Due: app, tests

Fixes for not saving upload passwords. related #455
  src/xpiks-qt/Models/uploadinforepository.cpp
Due: app

Detach vector in context menu. closes #432
  src/xpiks-qt/Models/artitemsmodel.cpp
  src/xpiks-qt/Models/artitemsmodel.h
  src/xpiks-qt/Models/filteredartitemsproxymodel.cpp
  src/xpiks-qt/Models/filteredartitemsproxymodel.h
  src/xpiks-qt/StackViews/MainGrid.qml
  src/xpiks-qt/main.qml
Due: app

Cosmetic improvement [ci skip]
  src/xpiks-qt/Models/filteredartitemsproxymodel.cpp
Due: app

Cosmetic fixes [ci skip]
  src/xpiks-qt/Dialogs/ZipArtworksDialog.qml
Due: app

Import/reimport improvements
  src/xpiks-qt/Dialogs/ImportMetadata.qml
  src/xpiks-qt/MetadataIO/metadataiocoordinator.cpp
  src/xpiks-qt/MetadataIO/metadataiocoordinator.h
  src/xpiks-qt/MetadataIO/metadatareadinghub.cpp
  src/xpiks-qt/MetadataIO/metadatareadinghub.h
  src/xpiks-qt/main.qml
Due: app

Fix for tests
  src/xpiks-qt/Models/settingsmodel.cpp
  src/xpiks-qt/Models/settingsmodel.h
Due: app

Fixes for importing
  src/xpiks-qt/MetadataIO/metadatareadinghub.cpp
  src/xpiks-qt/MetadataIO/metadatareadinghub.h
Due: app

469 : Ability to see bigger images of small bottom previews in Combined Editing
  src/xpiks-qt/Dialogs/SimplePreview.qml
  src/xpiks-qt/Models/combinedartworksmodel.cpp
  src/xpiks-qt/Models/combinedartworksmodel.h
  src/xpiks-qt/StackViews/CombinedEditView.qml
  src/xpiks-qt/qml.qrc
  src/xpiks-qt/xpiks-qt.pro
Due: app

Path conditions:
  app: any of: src/xpiks-qt/, but not: vendors
  tests: any of: src/xpiks-tests/, but not: vendors
